<hr/>
<fieldset>
    <legend>{{localize "conditional-visibility.token.config.senses.title"}}</legend>
    <p class="notes">{{localize "conditional-visibility.token.config.extraSenseInstructions"}}</p>
    {{#each senses as |sense|}}
        <div class="form-group">
            <label style="display:flex"><img src="{{sense.visionIcon}}" style="height:25px; width:25px; margin: 3px;"/>{{localize sense.visionName}}</label>
            <input type="number" min=-1 step=1 {{#if sense.visionLevelValue}} value="{{sense.visionLevelValue}}" {{else}} value="0" {{/if}} name="actor.flags.conditional-visibility.{{sense.visionId}}.visionLevelValue"/>
        </div>
    {{/each}}
</fieldset>
<hr/>
<fieldset>
    <legend>{{localize "conditional-visibility.token.config.conditions.title"}}</legend>
    <div class="form-group">
        <label>{{localize "conditional-visibility.token.config.forcevisible.title"}}</label>
        <input
            id="actor.flags.conditional-visibility.forcevisible"
            name="actor.flags.conditional-visibility.forcevisible"
            type="checkbox"
            value="{{forcevisible}}"
            {{#if forcevisible}} checked {{else}}  {{/if}} />
            onclick="$(this).attr('value', this.checked ? true : false)"
        />
        <p class="notes">{{localize "conditional-visibility.token.config.forcevisible.notes"}}</p>
    </div>
    <p class="notes">{{localize "conditional-visibility.token.config.extraConditionInstructions"}}</p>
    {{#each conditions as |condition|}}
        <div class="form-group">
            <label style="display:flex"><img src="{{condition.visionIcon}}" style="height:25px; width:25px; margin: 3px; background: #454545"/>{{localize condition.visionName}}</label>
            <input type="number" min=-1 step=1 {{#if condition.visionLevelValue}} value="{{condition.visionLevelValue}}" {{else}} value="0" {{/if}} name="actor.flags.conditional-visibility.{{condition.visionId}}.visionLevelValue"/>
        </div>
    {{/each}}
</fieldset>
<hr/>
